.swiper {
margin-top: 3rem;

  width: 1120px;
  height: 360px;
}

.sales-slide {
  background-image: url('../img/image\ 61\ \(1\).png');

  width: 1120px;
  height: 360px;
}

.sale-slide {
  position: relative;
  max-width: 1120px;
  margin: 1px;
  padding: 1rem;

 

  color: $white;

  &__title {
    color: $white;
    font-size: $font-32;
    font-weight: $font-w-700;
    padding: 7rem 0 0 1rem;
  }

  &__description {
    color: $gray-ligth;
    font-size: $font-16;
    font-weight: $font-w-500;
    padding: 2rem 0 0 1rem;
  }

  &__btn {
    border: 1px solid $secondary-color;
    border-radius: 28px;
    color: $secondary-color;

    font-size: $font-14;
    font-weight: $font-w-500;

    background-color: $black;

    width: 148px;
    height: 46px;
    text-align: center;

    position: absolute;
    left: 30px;
    top: 250px;

    &--text {
      margin-top: 1rem;
    }

    &:hover {
      cursor: pointer;

      background-color: $secondary-color;
      color: $black;

      transition: .3s;
    }
  }
}


@media screen and (max-width: 591px) {
  .swiper {
    width: 543px;
  height: 330px;
  }

  .sales-slide {
    width: 543px;
    height: 330px;
  }

  .sale-slide {
    position: relative;
    max-width: 543px;
    
    margin: 1px;
    padding: 1rem;
  
    color: $white;
  }
}