// FONTS
$fontfamily: 'Roboto', sans-serif;

// FONT-size
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-26: 26px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;

// FONT-WEIGHT
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;

//COLOR
$primary-color: #000000;
$secondary-color: #FADE4B;
$black:rgba(0, 0, 0, 1);
$white: #FFFFFF;
$gray-ligth: #EFEFEF;
$red: #FB000F;
$gray: rgba(255, 255, 255, 0.2);
$silver-ligth: #99938A;
$silver: #A5A5A5;
$gray-ligth: #EFEFEF;